<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <% flash.each do |k,v| %>
      <div class='alert alert-<%= k %>'><%= v %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
